.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.isobar {
  margin: 0 auto;
  width: 75%;
  height: 7vh;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  background-image: linear-gradient(
    to right,
    darkblue,
    rgb(0, 217, 255),
    rgb(0, 255, 106),
    yellow,
    orange,
    red
  );
}

.labels {
  position: absolute;
  margin: 3px;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
}

.first {
  top: -85px;
}

.second {
  left: 370px;
  top: -85px;
}
.third {
  left: 820px;
  top: -85px;
}
